<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal_user/base::layout(~{::section})">
<head
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
	<h1 class="text-center">getting started with project</h1>
	<section>


		<div class="container" th:if="${contact}">
			<div class="col-md-8 offset-md-2">
				<h1 class="text-center">Contact Details</h1>
				<div class="img d-flex justify-content-center m-2">
					<img th:src="'/img/'+${contact.imageUrl}" alt="profile"
						style="width: 250px; height: 250px; border-radius: 50%;"
						class="text-center" />
				</div>
				<div class="name_text text-center m-3">
				<h3> <span th:text="${contact.name}" ></span>(<span th:text="${contact.middleName}"></span>)</h3>
				</div>
				<table class="table">

					<tbody>

						<th scope="row">ID</th>
						<td th:text="'SCM'+${contact.cId}"></td>
						</tr>


				<!--  		<tr class="table-secondary m-2">
							<th scope="row">NAME</th>
							<td th:text="${contact.name}"><span th:text="${contact.middleName}"></span></td>
						</tr>-->
						<tr class="table-success m-2">
							<th scope="row">MIDDILE NAME</th>
							<td colspan="2" th:text="${contact.middleName}"></td>
						</tr>
						<tr class="table-danger m-2">
							<th scope="row">WORK</th>
							<td colspan="2" th:text="${contact.work}"></td>
						</tr>
						<tr class="table-warning m-2">
							<th scope="row">EMAIL</th>
							<td colspan="2" th:text="${contact.email}"></td>
						</tr>
						<tr class="table-info m-2">
							<th scope="row">PHONE</th>
							<td colspan="2" th:text="${contact.phone}"></td>
						</tr>
						<tr class="table-danger m-2">
							<th scope="row">Description</th>
							<td colspan="2" th:text="${contact.description}"></td>
						</tr>
					</tbody>



				</table>
				<div class="btn-group" role="group"
					aria-label="Basic mixed styles example">
					<a th:href="@{/user/show_contacts/0}"><button type="button" class="btn btn-primary m-2">Back</button></a>
					<a th:href="@{/user/add_contact/}"><button type="button" class="btn btn-primary m-2">Update</button></a>
				</div>
			</div>
		</div>
		<h1 class="text-danger text-center" th:unless="${contact}">You don't have permission to access this contact..!!</h1>
	</section>

</body>
</html>