<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About</title>
</head>
<body>
	<h1 class="text-center">getting started with project</h1>
	<section>
		<h1>Smart Contact Manager </h1>
		 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, repudiandae. Laudantium,
                        eligendi, nisi beatae sequi iusto minus laboriosam consequuntur neque hic vel impedit nam error
                      delectus? Temporibus sint aspernatur possimus?</p>

	
	</section>
	
</body>
</html>