<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>home</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center text-center">
	 <div>
		<h1 class="text-center pt-3">Smart Contact Manager</h1>
		<p class="pt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia,
			repudiandae.</p>
			<button class="btn bg-primary btn-lg text-white mt-3">Get Start</button>
			</div>
	</section>
</body>
</html>